src/pages/events.pug
extends ../templates/template.pug
block content
  .wrapper
    .pt-100.mt-60.mt-sm-20.mt-5
      +header('Детям', 'header--kids')(class="header--kids")
      .container
        .row
          .col-12
            .d-flex.flex-column.flex-lg-row.align-items-center.justify-content-between.mb-40
              h3.mb-0 Мероприятия
              .d-flex.flex-column.flex-lg-row.align-items-center
                .select
                  select.select__item
                    option Все направления
                .select
                  select.select__item
                    option Все даты
        .row
          .col-md-6.mb-20.d-flex
            +event('event-1.jpg', 'Школа гражданской активности', '24 — 27 ноября 2017', 'Проект направлен на популяризацию и развитие добровольческой, экологической, поисковой, историко-краеведческой деятельности среди школьников и педагогов.', 'Проект', 'event--typed')
          .col-md-6.mb-20.d-flex
            +event('event-2.jpg', 'Всероссийский конкурс проектов по вовлечению школьников в ЗОЖ', '24 — 27 ноября 2017', 'Российское движение школьников запускает Всероссийский экологический конкурс «На старт, эко-отряд!».', 'Мероприятие', 'event--typed')
          .col-md-6.mb-20.d-flex
            +event('event-3.jpg', 'Школа гражданской активности', '24 — 27 ноября 2017', 'Проект направлен на популяризацию и развитие добровольческой, экологической, поисковой, историко-краеведческой деятельности среди школьников и педагогов.')
          .col-md-6.mb-20.d-flex
            +event('event-4.jpg', 'Российское движение школьников открывает Медиашколу РДШ!', '24 — 27 ноября 2017', 'Информационно-медийное направление! Вы долго этого ждали! И наконец, мы объявляем открытие нового проекта – Всероссийской Медиашколы РДШ')
          .col-md-6.mb-20.d-flex
            +event('event-5.jpg', 'Всероссийский родительский форум РДШ в Оренбурге', '24 — 27 ноября 2017', 'В Оренбурге с 24 по 27 ноября состоится Всероссийский родительский форум Российского движения школьников.')
          .col-md-6.mb-20.d-flex
            +event('event-6.jpg', 'Всероссийский детский кинофестиваль', '24 — 27 ноября 2017', 'Всероссийский детский кинофестиваль')
        .row.mt-30.mb-10
          .col-12
            .d-flex.justify-content-center
              a.btn.btn-outline-primary.btn-md(href="#") Загрузить еще
    +footer

build/events.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=2">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="wrapper">
      <div class="pt-100 mt-60 mt-sm-20 mt-5">
          <div class="header header--kids">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="header__content">
                    <div class="header__left"><a class="logo" href="index.html"><span class="logo__red">Российское</span><span class="logo__blue">Движение школьников</span></a>
                      <div class="header__section header__section--dark"><a class="header__section-current" href="#">Детям</a>
                        <div class="header__section-content"><a class="header__section-item" href="kids.html">Детям</a><a class="header__section-item" href="parents.html">Родителям</a><a class="header__section-item" href="teachers.html">Учителям</a></div>
                      </div>
                    </div>
                    <div class="header__right">
                        <div class="menu header__menu"><a class="menu__btn" href="#"></a>
                          <div class="menu__content"><a class="menu__link" href="#">Конкурсы</a><a class="menu__link menu__link--active" href="#">Новости</a><a class="menu__link" href="#">Мероприятия</a><a class="menu__link" href="#">Блоги</a><a class="menu__link" href="#">Медиа</a>
                          </div>
                        </div><a class="header__search" href="#"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between mb-40">
                <h3 class="mb-0">Мероприятия</h3>
                <div class="d-flex flex-column flex-lg-row align-items-center">
                  <div class="select">
                    <select class="select__item">
                      <option>Все направления</option>
                    </select>
                  </div>
                  <div class="select">
                    <select class="select__item">
                      <option>Все даты</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-20 d-flex">
                <div class="event">
                  <div class="event__picture" style="background-image: url(./img/event-1.jpg);">
                    <div class="event__type">Проект</div>
                  </div>
                  <div class="event__content">
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="event__content-left">
                          <h5 class="event__header"><a class="event__header-link" href="#">Школа гражданской активности</a></h5>
                          <div class="event__divider"></div>
                          <p class="p--sm mb-0">24 — 27 ноября 2017</p>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <p class="event__dscr">Проект направлен на популяризацию и развитие добровольческой, экологической, поисковой, историко-краеведческой деятельности среди школьников и педагогов.</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-6 mb-20 d-flex">
                <div class="event">
                  <div class="event__picture" style="background-image: url(./img/event-2.jpg);">
                    <div class="event__type">Мероприятие</div>
                  </div>
                  <div class="event__content">
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="event__content-left">
                          <h5 class="event__header"><a class="event__header-link" href="#">Всероссийский конкурс проектов по вовлечению школьников в ЗОЖ</a></h5>
                          <div class="event__divider"></div>
                          <p class="p--sm mb-0">24 — 27 ноября 2017</p>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <p class="event__dscr">Российское движение школьников запускает Всероссийский экологический конкурс «На старт, эко-отряд!».</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-6 mb-20 d-flex">
                <div class="event">
                  <div class="event__picture" style="background-image: url(./img/event-3.jpg);">
                  </div>
                  <div class="event__content">
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="event__content-left">
                          <h5 class="event__header"><a class="event__header-link" href="#">Школа гражданской активности</a></h5>
                          <div class="event__divider"></div>
                          <p class="p--sm mb-0">24 — 27 ноября 2017</p>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <p class="event__dscr">Проект направлен на популяризацию и развитие добровольческой, экологической, поисковой, историко-краеведческой деятельности среди школьников и педагогов.</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-6 mb-20 d-flex">
                <div class="event">
                  <div class="event__picture" style="background-image: url(./img/event-4.jpg);">
                  </div>
                  <div class="event__content">
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="event__content-left">
                          <h5 class="event__header"><a class="event__header-link" href="#">Российское движение школьников открывает Медиашколу РДШ!</a></h5>
                          <div class="event__divider"></div>
                          <p class="p--sm mb-0">24 — 27 ноября 2017</p>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <p class="event__dscr">Информационно-медийное направление! Вы долго этого ждали! И наконец, мы объявляем открытие нового проекта – Всероссийской Медиашколы РДШ</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-6 mb-20 d-flex">
                <div class="event">
                  <div class="event__picture" style="background-image: url(./img/event-5.jpg);">
                  </div>
                  <div class="event__content">
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="event__content-left">
                          <h5 class="event__header"><a class="event__header-link" href="#">Всероссийский родительский форум РДШ в Оренбурге</a></h5>
                          <div class="event__divider"></div>
                          <p class="p--sm mb-0">24 — 27 ноября 2017</p>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <p class="event__dscr">В Оренбурге с 24 по 27 ноября состоится Всероссийский родительский форум Российского движения школьников.</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-6 mb-20 d-flex">
                <div class="event">
                  <div class="event__picture" style="background-image: url(./img/event-6.jpg);">
                  </div>
                  <div class="event__content">
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="event__content-left">
                          <h5 class="event__header"><a class="event__header-link" href="#">Всероссийский детский кинофестиваль</a></h5>
                          <div class="event__divider"></div>
                          <p class="p--sm mb-0">24 — 27 ноября 2017</p>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <p class="event__dscr">Всероссийский детский кинофестиваль</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="row mt-30 mb-10">
            <div class="col-12">
              <div class="d-flex justify-content-center"><a class="btn btn-outline-primary btn-md" href="#">Загрузить еще</a></div>
            </div>
          </div>
        </div>
      </div>
        <div class="footer">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="footer__links"><a class="footer__links-item" href="#">Об РДШ</a><a class="footer__links-item" href="#">Школы</a><a class="footer__links-item" href="#">Медиа</a><a class="footer__links-item" href="#">Вход<span class="footer__links-item-red">/</span>Регистрация</a></div>
                <div class="footer__content">
                  <div class="footer__left">
                    <p class="p--white my-20">Мы в соцсетях</p>
                      <div class="socials"><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--tw" href="#"></a><a class="socials__item socials__item--ig" href="#"></a><a class="socials__item socials__item--ok" href="#"></a></div>
                    <div class="footer__info"><a class="footer__info-item" href="#">Правовая информация</a><a class="footer__info-item" href="#">Карта сайта</a></div>
                  </div>
                  <div class="footer__center">
                    <p class="p--white my-20">Подпишитесь на новостную рассылку</p>
                      <form class="subscribe" action="#" method="POST">
                        <div class="form-group mb-0">
                          <input class="subscribe__input form-control" type="email" placeholder="Введите ваш email">
                        </div>
                        <button class="btn btn-primary btn-primary--white subscribe__btn" type="submit">OK</button>
                      </form>
                  </div>
                  <div class="footer__right">
                    <p class="p--white my-20">Приложение для телефона</p>
                    <div class="footer__markets"><a class="footer__markets-item footer__markets-item--apple" href="#"></a><a class="footer__markets-item footer__markets-item--google" href="#"></a></div>
                    <p class="footer__copyright">© 2017 Российское движение школьников (РДШ)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <script src="js/scripts.js?version=2"></script>
  </body>
</html>
