src/pages/index.pug
extends ../templates/template.pug
block content
  .wrapper
    +header('', 'header--main')
    .main
      .main__preloader
      .main__content
        a.main__section-close(href="#")
        .main__section.main__section--left(style="background-image: url(./img/section-1.jpg);")
          .main__section-content
            h2.main__section-header
              a.main__section-header-link(href="#") Родителям
            .main__menu
              a.main__menu-item(href="#") Направления
              a.main__menu-item(href="#") Проекты
              a.main__menu-item(href="#") Новости
              a.main__menu-item(href="#") Медиа
        .main__section.main__section--center(style="background-image: url(./img/section-2.jpg);")
          .main__section-content
            h2.main__section-header
              a.main__section-header-link(href="#") Детям
            .main__menu
              a.main__menu-item(href="#") Конкурсы
              a.main__menu-item(href="#") Блоги
              a.main__menu-item(href="#") Новости
              a.main__menu-item(href="#") Мероприятия
              a.main__menu-item(href="#") Медиа
        .main__section.main__section--right(style="background-image: url(./img/section-3.jpg);")
          .main__section-content
            h2.main__section-header
              a.main__section-header-link(href="#") Учителям
            .main__menu
              a.main__menu-item(href="#") Учительская
              a.main__menu-item(href="#") Новости
              a.main__menu-item(href="#") Мероприятия
              a.main__menu-item(href="#") Документы
              a.main__menu-item(href="#") Медиа
  +footer(class="mt-0")

build/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=2">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="wrapper">
        <div class="header">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="header__content">
                  <div class="header__left"><a class="logo" href="index.html"><span class="logo__red">Российское</span><span class="logo__blue">Движение школьников</span></a>
                  </div>
                  <div class="header__right">
                      <div class="menu header__menu"><a class="menu__btn" href="#"></a>
                        <div class="menu__content"><a class="menu__link" href="#">Об РДШ</a><a class="menu__link" href="#">Школы</a><a class="menu__link" href="#">Медиа</a><a class="menu__link" href="#">Вход<span class="menu__link-colored">/</span>Регистрация</a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="main">
        <div class="main__preloader"></div>
        <div class="main__content"><a class="main__section-close" href="#"></a>
          <div class="main__section main__section--left" style="background-image: url(./img/section-1.jpg);">
            <div class="main__section-content">
              <h2 class="main__section-header"><a class="main__section-header-link" href="#">Родителям</a></h2>
              <div class="main__menu"><a class="main__menu-item" href="#">Направления</a><a class="main__menu-item" href="#">Проекты</a><a class="main__menu-item" href="#">Новости</a><a class="main__menu-item" href="#">Медиа</a></div>
            </div>
          </div>
          <div class="main__section main__section--center" style="background-image: url(./img/section-2.jpg);">
            <div class="main__section-content">
              <h2 class="main__section-header"><a class="main__section-header-link" href="#">Детям</a></h2>
              <div class="main__menu"><a class="main__menu-item" href="#">Конкурсы</a><a class="main__menu-item" href="#">Блоги</a><a class="main__menu-item" href="#">Новости</a><a class="main__menu-item" href="#">Мероприятия</a><a class="main__menu-item" href="#">Медиа</a></div>
            </div>
          </div>
          <div class="main__section main__section--right" style="background-image: url(./img/section-3.jpg);">
            <div class="main__section-content">
              <h2 class="main__section-header"><a class="main__section-header-link" href="#">Учителям</a></h2>
              <div class="main__menu"><a class="main__menu-item" href="#">Учительская</a><a class="main__menu-item" href="#">Новости</a><a class="main__menu-item" href="#">Мероприятия</a><a class="main__menu-item" href="#">Документы</a><a class="main__menu-item" href="#">Медиа</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="footer mt-0">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__links"><a class="footer__links-item" href="#">Об РДШ</a><a class="footer__links-item" href="#">Школы</a><a class="footer__links-item" href="#">Медиа</a><a class="footer__links-item" href="#">Вход<span class="footer__links-item-red">/</span>Регистрация</a></div>
              <div class="footer__content">
                <div class="footer__left">
                  <p class="p--white my-20">Мы в соцсетях</p>
                    <div class="socials"><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--tw" href="#"></a><a class="socials__item socials__item--ig" href="#"></a><a class="socials__item socials__item--ok" href="#"></a></div>
                  <div class="footer__info"><a class="footer__info-item" href="#">Правовая информация</a><a class="footer__info-item" href="#">Карта сайта</a></div>
                </div>
                <div class="footer__center">
                  <p class="p--white my-20">Подпишитесь на новостную рассылку</p>
                    <form class="subscribe" action="#" method="POST">
                      <div class="form-group mb-0">
                        <input class="subscribe__input form-control" type="email" placeholder="Введите ваш email">
                      </div>
                      <button class="btn btn-primary btn-primary--white subscribe__btn" type="submit">OK</button>
                    </form>
                </div>
                <div class="footer__right">
                  <p class="p--white my-20">Приложение для телефона</p>
                  <div class="footer__markets"><a class="footer__markets-item footer__markets-item--apple" href="#"></a><a class="footer__markets-item footer__markets-item--google" href="#"></a></div>
                  <p class="footer__copyright">© 2017 Российское движение школьников (РДШ)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script src="js/scripts.js?version=2"></script>
  </body>
</html>
