src/pages/kids.pug
extends ../templates/template.pug
block content
  .wrapper
    +header('Детям', 'header--kids')(class="header--kids header--transparent")
    +cover
    .pt-60.pb-70.border-bottom
      .container
        .row
          .col-12
            h2.mb-60 Поможем раскрыть свой талант в деле, <br>за которое ты берёшься
        .row
          .col-sm-4
            +advantage('advantage-kids-1.svg', 'Шанс <br>проявить себя', 'Прояви себя и стань лучшим! Принимай участие в конкурсах и фестивалях')
          .col-sm-4
            +advantage('advantage-kids-2.svg', 'Открытая <br>площадка', 'Заяви о себе! Создай профиль, размещай в нём свои работы и ставь оценки сверстникам со всей страны.')
          .col-sm-4
            +advantage('advantage-kids-3.svg', 'Призы <br>и путешествия', 'Используй новые возможности, которые предоставляет РДШ всем школьникам России')
        .row
          .col-12
            a.btn.btn-primary.mt-40.mt-sm-70(href="#") Стать участником
    .container.mt-40
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.mb-40
            h4.mb-0 Конкурсы
            a.btn.btn-outline-primary.btn-sm(href="#") Все конкурсы
      .row.slider.slider--four
        .col-md-6.col-xl-3.d-flex
          +item('item-1.jpg', 'Военно-патриотическая смена РДШ Дальневосточный рубеж')
        .col-md-6.col-xl-3.d-flex
          +item('item-2.jpg', 'Лига Ораторов. <br>Двадцать первая серия')
        .col-md-6.col-xl-3.d-flex
          +item('item-3.jpg', 'Военно-патриотический слёт РДШ')
        .col-md-6.col-xl-3.d-flex
          +item('item-4.jpg', 'Финал Всероссийской туристско краеведческой экспедиции «Я познаю Россию»')
    .container.mt-40
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between
            h4.mb-0 Новости
            a.btn.btn-outline-primary.btn-sm(href="#") Все новости
      .row.slider.slider--four.mt-40
        .col-3
          +news('news-1.jpg', 'Будущие специалисты аэрокосмической отрасли собрались на открытии форума «КосмоСтарт» в Санкт-Петербурге')
        .col-3.d-flex
          +news('news-2.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
        .col-3.d-flex
          +news('news-3.jpg', 'Роль РДШ в экологическом воспитании обсудили на конференции в Казани')
        .col-3.d-flex
          +news('news-4.jpg', 'В Санкт-Петербурге состоялось открытие регионального форума активистов РДШ')
        .col-3.d-flex
          +news('news-1.jpg', 'Будущие специалисты аэрокосмической отрасли собрались на открытии форума «КосмоСтарт» в Санкт-Петербурге')
        .col-3.d-flex
          +news('news-2.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
        .col-3.d-flex
          +news('news-3.jpg', 'Роль РДШ в экологическом воспитании обсудили на конференции в Казани')
        .col-3.d-flex
          +news('news-4.jpg', 'В Санкт-Петербурге состоялось открытие регионального форума активистов РДШ')
    .container
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.my-40
            h4.mb-0 Мероприятия
            a.btn.btn-outline-primary.btn-sm(href="#") Все мероприятия
      .row.slider.slider--two
        .col-6.d-flex
          +event('event-1.jpg', 'Школа гражданской активности', '24 — 27 ноября 2017', 'Проект направлен на популяризацию и развитие добровольческой, экологической, поисковой, историко-краеведческой деятельности среди школьников и педагогов.')
        .col-6.d-flex
          +event('event-2.jpg', 'Всероссийский конкурс проектов по вовлечению школьников в ЗОЖ', '24 — 27 ноября 2017', 'Российское движение школьников запускает Всероссийский экологический конкурс «На старт, эко-отряд!».')
        .col-6.d-flex
          +event('event-1.jpg', 'Школа гражданской активности', '24 — 27 ноября 2017', 'Проект направлен на популяризацию и развитие добровольческой, экологической, поисковой, историко-краеведческой деятельности среди школьников и педагогов.')
        .col-6.d-flex
          +event('event-2.jpg', 'Всероссийский конкурс проектов по вовлечению школьников в ЗОЖ', '24 — 27 ноября 2017', 'Российское движение школьников запускает Всероссийский экологический конкурс «На старт, эко-отряд!».')
    .pb-40.border-bottom
      .container
        .row
          .col-12
            .d-flex.align-items-center.justify-content-between.my-40
              h4.mb-0 Блоги
              a.btn.btn-outline-primary.btn-sm(href="#") Все блоги
        .row.slider.slider--four
          .col-3
            +blog('blog-1.jpg', 'Федеральный проект «Ты решаешь!» стартовал в «Орлёнке»')
          .col-3
            +blog('blog-2.jpg', 'Торжественно завершился «Слёт активистов сельских школ»')
          .col-3
            +blog('blog-3.jpg', 'Школьники по всей России присоединились к акции «Свеча памяти»')
          .col-3
            +blog('blog-4.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
    .container
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.my-40
            h4.mb-0 Медиа
            a.btn.btn-outline-primary.btn-sm(href="#") Все медиа
      .row.slider.slider--four
        .col-3.d-flex
          +media('media-1.jpg', 'Военно-патриотическая смена РДШ Дальневосточный рубеж')
        .col-3.d-flex
          +media('media-2.jpg', 'Лига Ораторов. Двадцать первая серия')
        .col-3.d-flex
          +media('media-3.jpg', 'Военно-патриотический слёт РДШ')
        .col-3.d-flex
          +media('media-4.jpg', 'Финал Всероссийской туристско краеведческой экспедиции «Я познаю Россию»')
  +footer

build/kids.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=2">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="wrapper">
        <div class="header header--kids header--transparent">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="header__content">
                  <div class="header__left"><a class="logo" href="index.html"><span class="logo__red">Российское</span><span class="logo__blue">Движение школьников</span></a>
                    <div class="header__section header__section--dark"><a class="header__section-current" href="#">Детям</a>
                      <div class="header__section-content"><a class="header__section-item" href="kids.html">Детям</a><a class="header__section-item" href="parents.html">Родителям</a><a class="header__section-item" href="teachers.html">Учителям</a></div>
                    </div>
                  </div>
                  <div class="header__right">
                      <div class="menu header__menu"><a class="menu__btn" href="#"></a>
                        <div class="menu__content"><a class="menu__link" href="#">Конкурсы</a><a class="menu__link menu__link--active" href="#">Новости</a><a class="menu__link" href="#">Мероприятия</a><a class="menu__link" href="#">Блоги</a><a class="menu__link" href="#">Медиа</a>
                        </div>
                      </div><a class="header__search" href="#"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cover">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="cover__content"> 
                  <h1 class="h1--white mb-65">Новые возможности, <br>которые изменят вашу жизнь</h1><a class="btn btn-outline-primary btn-outline-primary--white" href="#">Стать участником</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="pt-60 pb-70 border-bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="mb-60">Поможем раскрыть свой талант в деле, <br>за которое ты берёшься</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
                <div class="advantage">
                  <div class="advantage__top">
                    <div class="advantage__icon" style="background-image: url(./img/advantage-kids-1.svg);"></div>
                    <h4 class="advantage__header">Шанс <br>проявить себя</h4>
                  </div>
                  <p class="mb-0 advantage__dscr">Прояви себя и стань лучшим! Принимай участие в конкурсах и фестивалях</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="advantage">
                  <div class="advantage__top">
                    <div class="advantage__icon" style="background-image: url(./img/advantage-kids-2.svg);"></div>
                    <h4 class="advantage__header">Открытая <br>площадка</h4>
                  </div>
                  <p class="mb-0 advantage__dscr">Заяви о себе! Создай профиль, размещай в нём свои работы и ставь оценки сверстникам со всей страны.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="advantage">
                  <div class="advantage__top">
                    <div class="advantage__icon" style="background-image: url(./img/advantage-kids-3.svg);"></div>
                    <h4 class="advantage__header">Призы <br>и путешествия</h4>
                  </div>
                  <p class="mb-0 advantage__dscr">Используй новые возможности, которые предоставляет РДШ всем школьникам России</p>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12"><a class="btn btn-primary mt-40 mt-sm-70" href="#">Стать участником</a></div>
          </div>
        </div>
      </div>
      <div class="container mt-40">
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-center justify-content-between mb-40">
              <h4 class="mb-0">Конкурсы</h4><a class="btn btn-outline-primary btn-sm" href="#">Все конкурсы</a>
            </div>
          </div>
        </div>
        <div class="row slider slider--four">
          <div class="col-md-6 col-xl-3 d-flex"><a class="item illustration" href="#">
                <div class="item__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/item-1.jpg);"></div>
                </div>
                <p class="p--sm mb-15">29 ноября 2017, 14:09</p>
                <h5 class="item__header">Военно-патриотическая смена РДШ Дальневосточный рубеж</h5></a>
          </div>
          <div class="col-md-6 col-xl-3 d-flex"><a class="item illustration" href="#">
                <div class="item__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/item-2.jpg);"></div>
                </div>
                <p class="p--sm mb-15">29 ноября 2017, 14:09</p>
                <h5 class="item__header">Лига Ораторов. <br>Двадцать первая серия</h5></a>
          </div>
          <div class="col-md-6 col-xl-3 d-flex"><a class="item illustration" href="#">
                <div class="item__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/item-3.jpg);"></div>
                </div>
                <p class="p--sm mb-15">29 ноября 2017, 14:09</p>
                <h5 class="item__header">Военно-патриотический слёт РДШ</h5></a>
          </div>
          <div class="col-md-6 col-xl-3 d-flex"><a class="item illustration" href="#">
                <div class="item__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/item-4.jpg);"></div>
                </div>
                <p class="p--sm mb-15">29 ноября 2017, 14:09</p>
                <h5 class="item__header">Финал Всероссийской туристско краеведческой экспедиции «Я познаю Россию»</h5></a>
          </div>
        </div>
      </div>
      <div class="container mt-40">
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="mb-0">Новости</h4><a class="btn btn-outline-primary btn-sm" href="#">Все новости</a>
            </div>
          </div>
        </div>
        <div class="row slider slider--four mt-40">
          <div class="col-3"><a class="news illustration" href="#">
                <div class="news__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/news-1.jpg);"></div>
                </div>
                <div class="news__content">
                  <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                  <h5 class="h5--white mb-0">Будущие специалисты аэрокосмической отрасли собрались на открытии форума «КосмоСтарт» в Санкт-Петербурге</h5>
                </div></a>
          </div>
          <div class="col-3 d-flex"><a class="news illustration" href="#">
                <div class="news__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/news-2.jpg);"></div>
                </div>
                <div class="news__content">
                  <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                  <h5 class="h5--white mb-0">Всероссийский родительский форум РДШ подошёл к концу!</h5>
                </div></a>
          </div>
          <div class="col-3 d-flex"><a class="news illustration" href="#">
                <div class="news__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/news-3.jpg);"></div>
                </div>
                <div class="news__content">
                  <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                  <h5 class="h5--white mb-0">Роль РДШ в экологическом воспитании обсудили на конференции в Казани</h5>
                </div></a>
          </div>
          <div class="col-3 d-flex"><a class="news illustration" href="#">
                <div class="news__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/news-4.jpg);"></div>
                </div>
                <div class="news__content">
                  <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                  <h5 class="h5--white mb-0">В Санкт-Петербурге состоялось открытие регионального форума активистов РДШ</h5>
                </div></a>
          </div>
          <div class="col-3 d-flex"><a class="news illustration" href="#">
                <div class="news__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/news-1.jpg);"></div>
                </div>
                <div class="news__content">
                  <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                  <h5 class="h5--white mb-0">Будущие специалисты аэрокосмической отрасли собрались на открытии форума «КосмоСтарт» в Санкт-Петербурге</h5>
                </div></a>
          </div>
          <div class="col-3 d-flex"><a class="news illustration" href="#">
                <div class="news__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/news-2.jpg);"></div>
                </div>
                <div class="news__content">
                  <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                  <h5 class="h5--white mb-0">Всероссийский родительский форум РДШ подошёл к концу!</h5>
                </div></a>
          </div>
          <div class="col-3 d-flex"><a class="news illustration" href="#">
                <div class="news__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/news-3.jpg);"></div>
                </div>
                <div class="news__content">
                  <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                  <h5 class="h5--white mb-0">Роль РДШ в экологическом воспитании обсудили на конференции в Казани</h5>
                </div></a>
          </div>
          <div class="col-3 d-flex"><a class="news illustration" href="#">
                <div class="news__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/news-4.jpg);"></div>
                </div>
                <div class="news__content">
                  <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                  <h5 class="h5--white mb-0">В Санкт-Петербурге состоялось открытие регионального форума активистов РДШ</h5>
                </div></a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-center justify-content-between my-40">
              <h4 class="mb-0">Мероприятия</h4><a class="btn btn-outline-primary btn-sm" href="#">Все мероприятия</a>
            </div>
          </div>
        </div>
        <div class="row slider slider--two">
          <div class="col-6 d-flex">
              <div class="event">
                <div class="event__picture" style="background-image: url(./img/event-1.jpg);">
                </div>
                <div class="event__content">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="event__content-left">
                        <h5 class="event__header"><a class="event__header-link" href="#">Школа гражданской активности</a></h5>
                        <div class="event__divider"></div>
                        <p class="p--sm mb-0">24 — 27 ноября 2017</p>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <p class="event__dscr">Проект направлен на популяризацию и развитие добровольческой, экологической, поисковой, историко-краеведческой деятельности среди школьников и педагогов.</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-6 d-flex">
              <div class="event">
                <div class="event__picture" style="background-image: url(./img/event-2.jpg);">
                </div>
                <div class="event__content">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="event__content-left">
                        <h5 class="event__header"><a class="event__header-link" href="#">Всероссийский конкурс проектов по вовлечению школьников в ЗОЖ</a></h5>
                        <div class="event__divider"></div>
                        <p class="p--sm mb-0">24 — 27 ноября 2017</p>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <p class="event__dscr">Российское движение школьников запускает Всероссийский экологический конкурс «На старт, эко-отряд!».</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-6 d-flex">
              <div class="event">
                <div class="event__picture" style="background-image: url(./img/event-1.jpg);">
                </div>
                <div class="event__content">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="event__content-left">
                        <h5 class="event__header"><a class="event__header-link" href="#">Школа гражданской активности</a></h5>
                        <div class="event__divider"></div>
                        <p class="p--sm mb-0">24 — 27 ноября 2017</p>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <p class="event__dscr">Проект направлен на популяризацию и развитие добровольческой, экологической, поисковой, историко-краеведческой деятельности среди школьников и педагогов.</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-6 d-flex">
              <div class="event">
                <div class="event__picture" style="background-image: url(./img/event-2.jpg);">
                </div>
                <div class="event__content">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="event__content-left">
                        <h5 class="event__header"><a class="event__header-link" href="#">Всероссийский конкурс проектов по вовлечению школьников в ЗОЖ</a></h5>
                        <div class="event__divider"></div>
                        <p class="p--sm mb-0">24 — 27 ноября 2017</p>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <p class="event__dscr">Российское движение школьников запускает Всероссийский экологический конкурс «На старт, эко-отряд!».</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="pb-40 border-bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="d-flex align-items-center justify-content-between my-40">
                <h4 class="mb-0">Блоги</h4><a class="btn btn-outline-primary btn-sm" href="#">Все блоги</a>
              </div>
            </div>
          </div>
          <div class="row slider slider--four">
            <div class="col-3"><a class="blog illustration" href="#">
                  <div class="blog__picture illustration__content">
                    <div class="illustration__content illustration__picture" style="background-image: url(./img/blog-1.jpg);"></div>
                  </div>
                  <h5 class="blog__header">Федеральный проект «Ты решаешь!» стартовал в «Орлёнке»</h5></a>
            </div>
            <div class="col-3"><a class="blog illustration" href="#">
                  <div class="blog__picture illustration__content">
                    <div class="illustration__content illustration__picture" style="background-image: url(./img/blog-2.jpg);"></div>
                  </div>
                  <h5 class="blog__header">Торжественно завершился «Слёт активистов сельских школ»</h5></a>
            </div>
            <div class="col-3"><a class="blog illustration" href="#">
                  <div class="blog__picture illustration__content">
                    <div class="illustration__content illustration__picture" style="background-image: url(./img/blog-3.jpg);"></div>
                  </div>
                  <h5 class="blog__header">Школьники по всей России присоединились к акции «Свеча памяти»</h5></a>
            </div>
            <div class="col-3"><a class="blog illustration" href="#">
                  <div class="blog__picture illustration__content">
                    <div class="illustration__content illustration__picture" style="background-image: url(./img/blog-4.jpg);"></div>
                  </div>
                  <h5 class="blog__header">Всероссийский родительский форум РДШ подошёл к концу!</h5></a>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-center justify-content-between my-40">
              <h4 class="mb-0">Медиа</h4><a class="btn btn-outline-primary btn-sm" href="#">Все медиа</a>
            </div>
          </div>
        </div>
        <div class="row slider slider--four">
          <div class="col-3 d-flex"><a class="media illustration" href="#">
                <div class="media__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/media-1.jpg);"></div>
                </div>
                <div class="media__content">
                  <p class="p--sm mb-15">29 ноября 2017, 14:09</p>
                  <h5 class="mb-0">Военно-патриотическая смена РДШ Дальневосточный рубеж</h5>
                </div></a>
          </div>
          <div class="col-3 d-flex"><a class="media illustration" href="#">
                <div class="media__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/media-2.jpg);"></div>
                </div>
                <div class="media__content">
                  <p class="p--sm mb-15">29 ноября 2017, 14:09</p>
                  <h5 class="mb-0">Лига Ораторов. Двадцать первая серия</h5>
                </div></a>
          </div>
          <div class="col-3 d-flex"><a class="media illustration" href="#">
                <div class="media__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/media-3.jpg);"></div>
                </div>
                <div class="media__content">
                  <p class="p--sm mb-15">29 ноября 2017, 14:09</p>
                  <h5 class="mb-0">Военно-патриотический слёт РДШ</h5>
                </div></a>
          </div>
          <div class="col-3 d-flex"><a class="media illustration" href="#">
                <div class="media__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/media-4.jpg);"></div>
                </div>
                <div class="media__content">
                  <p class="p--sm mb-15">29 ноября 2017, 14:09</p>
                  <h5 class="mb-0">Финал Всероссийской туристско краеведческой экспедиции «Я познаю Россию»</h5>
                </div></a>
          </div>
        </div>
      </div>
    </div>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__links"><a class="footer__links-item" href="#">Об РДШ</a><a class="footer__links-item" href="#">Школы</a><a class="footer__links-item" href="#">Медиа</a><a class="footer__links-item" href="#">Вход<span class="footer__links-item-red">/</span>Регистрация</a></div>
              <div class="footer__content">
                <div class="footer__left">
                  <p class="p--white my-20">Мы в соцсетях</p>
                    <div class="socials"><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--tw" href="#"></a><a class="socials__item socials__item--ig" href="#"></a><a class="socials__item socials__item--ok" href="#"></a></div>
                  <div class="footer__info"><a class="footer__info-item" href="#">Правовая информация</a><a class="footer__info-item" href="#">Карта сайта</a></div>
                </div>
                <div class="footer__center">
                  <p class="p--white my-20">Подпишитесь на новостную рассылку</p>
                    <form class="subscribe" action="#" method="POST">
                      <div class="form-group mb-0">
                        <input class="subscribe__input form-control" type="email" placeholder="Введите ваш email">
                      </div>
                      <button class="btn btn-primary btn-primary--white subscribe__btn" type="submit">OK</button>
                    </form>
                </div>
                <div class="footer__right">
                  <p class="p--white my-20">Приложение для телефона</p>
                  <div class="footer__markets"><a class="footer__markets-item footer__markets-item--apple" href="#"></a><a class="footer__markets-item footer__markets-item--google" href="#"></a></div>
                  <p class="footer__copyright">© 2017 Российское движение школьников (РДШ)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script src="js/scripts.js?version=2"></script>
  </body>
</html>
