src/pages/news.pug
extends ../templates/template.pug
block content
  .wrapper
    .pt-100.mt-60.mt-sm-20.mt-5
      +header('Детям', 'header--kids')(class="header--kids")
      .container
        .row
          .col-12
            .d-flex.flex-column.flex-lg-row.align-items-center.justify-content-between.mb-40
              h3.mb-0 Новости
              .d-flex.flex-column.flex-lg-row.align-items-center
                .select
                  select.select__item
                    option Региональные и федеральные
                    option Федеральные
                    option Региональные
                .select
                  select.select__item
                    option Все направления
                .select
                  select.select__item
                    option Все даты
        .row
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-1.jpg', 'Будущие специалисты аэрокосмической отрасли собрались на открытии форума «КосмоСтарт» в Санкт-Петербурге')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-2.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-3.jpg', 'Роль РДШ в экологическом воспитании обсудили на конференции в Казани')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-4.jpg', 'В Санкт-Петербурге состоялось открытие регионального форума активистов РДШ')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-5.jpg', 'Российские школьники открыли «Балтийский Артек»')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-6.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-7.jpg', 'Молодые учителя обсудили опыт развития РДШ в регионах на «Балтийском Артеке»')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-8.jpg', 'В ВДЦ «Океан» завершилась смена «Юные экологи»')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-1.jpg', 'Будущие специалисты аэрокосмической отрасли собрались на открытии форума «КосмоСтарт» в Санкт-Петербурге')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-2.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-3.jpg', 'Роль РДШ в экологическом воспитании обсудили на конференции в Казани')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-4.jpg', 'В Санкт-Петербурге состоялось открытие регионального форума активистов РДШ')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-5.jpg', 'Российские школьники открыли «Балтийский Артек»')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-6.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-7.jpg', 'Молодые учителя обсудили опыт развития РДШ в регионах на «Балтийском Артеке»')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-8.jpg', 'В ВДЦ «Океан» завершилась смена «Юные экологи»')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-1.jpg', 'Будущие специалисты аэрокосмической отрасли собрались на открытии форума «КосмоСтарт» в Санкт-Петербурге')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-2.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-3.jpg', 'Роль РДШ в экологическом воспитании обсудили на конференции в Казани')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-4.jpg', 'В Санкт-Петербурге состоялось открытие регионального форума активистов РДШ')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-5.jpg', 'Российские школьники открыли «Балтийский Артек»')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-6.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-7.jpg', 'Молодые учителя обсудили опыт развития РДШ в регионах на «Балтийском Артеке»')
          .col-sm-6.col-lg-4.col-xl-3.mb-20.d-flex
            +news('news-8.jpg', 'В ВДЦ «Океан» завершилась смена «Юные экологи»')
        .row.mt-30.mb-10
          .col-12
            .d-flex.justify-content-center
              a.btn.btn-outline-primary.btn-md(href="#") Загрузить еще
    +footer

build/news.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=2">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="wrapper">
      <div class="pt-100 mt-60 mt-sm-20 mt-5">
          <div class="header header--kids">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="header__content">
                    <div class="header__left"><a class="logo" href="index.html"><span class="logo__red">Российское</span><span class="logo__blue">Движение школьников</span></a>
                      <div class="header__section header__section--dark"><a class="header__section-current" href="#">Детям</a>
                        <div class="header__section-content"><a class="header__section-item" href="kids.html">Детям</a><a class="header__section-item" href="parents.html">Родителям</a><a class="header__section-item" href="teachers.html">Учителям</a></div>
                      </div>
                    </div>
                    <div class="header__right">
                        <div class="menu header__menu"><a class="menu__btn" href="#"></a>
                          <div class="menu__content"><a class="menu__link" href="#">Конкурсы</a><a class="menu__link menu__link--active" href="#">Новости</a><a class="menu__link" href="#">Мероприятия</a><a class="menu__link" href="#">Блоги</a><a class="menu__link" href="#">Медиа</a>
                          </div>
                        </div><a class="header__search" href="#"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between mb-40">
                <h3 class="mb-0">Новости</h3>
                <div class="d-flex flex-column flex-lg-row align-items-center">
                  <div class="select">
                    <select class="select__item">
                      <option>Региональные и федеральные</option>
                      <option>Федеральные</option>
                      <option>Региональные</option>
                    </select>
                  </div>
                  <div class="select">
                    <select class="select__item">
                      <option>Все направления</option>
                    </select>
                  </div>
                  <div class="select">
                    <select class="select__item">
                      <option>Все даты</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-1.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">Будущие специалисты аэрокосмической отрасли собрались на открытии форума «КосмоСтарт» в Санкт-Петербурге</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-2.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">Всероссийский родительский форум РДШ подошёл к концу!</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-3.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">Роль РДШ в экологическом воспитании обсудили на конференции в Казани</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-4.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">В Санкт-Петербурге состоялось открытие регионального форума активистов РДШ</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-5.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">Российские школьники открыли «Балтийский Артек»</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-6.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">Всероссийский родительский форум РДШ подошёл к концу!</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-7.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">Молодые учителя обсудили опыт развития РДШ в регионах на «Балтийском Артеке»</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-8.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">В ВДЦ «Океан» завершилась смена «Юные экологи»</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-1.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">Будущие специалисты аэрокосмической отрасли собрались на открытии форума «КосмоСтарт» в Санкт-Петербурге</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-2.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">Всероссийский родительский форум РДШ подошёл к концу!</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-3.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">Роль РДШ в экологическом воспитании обсудили на конференции в Казани</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-4.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">В Санкт-Петербурге состоялось открытие регионального форума активистов РДШ</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-5.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">Российские школьники открыли «Балтийский Артек»</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-6.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">Всероссийский родительский форум РДШ подошёл к концу!</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-7.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">Молодые учителя обсудили опыт развития РДШ в регионах на «Балтийском Артеке»</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-8.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">В ВДЦ «Океан» завершилась смена «Юные экологи»</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-1.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">Будущие специалисты аэрокосмической отрасли собрались на открытии форума «КосмоСтарт» в Санкт-Петербурге</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-2.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">Всероссийский родительский форум РДШ подошёл к концу!</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-3.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">Роль РДШ в экологическом воспитании обсудили на конференции в Казани</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-4.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">В Санкт-Петербурге состоялось открытие регионального форума активистов РДШ</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-5.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">Российские школьники открыли «Балтийский Артек»</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-6.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">Всероссийский родительский форум РДШ подошёл к концу!</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-7.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">Молодые учителя обсудили опыт развития РДШ в регионах на «Балтийском Артеке»</h5>
                  </div></a>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-20 d-flex"><a class="news illustration" href="#">
                  <div class="news__picture illustration__content">
                    <div class="illustration__picture" style="background-image: url(./img/news-8.jpg);"></div>
                  </div>
                  <div class="news__content">
                    <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                    <h5 class="h5--white mb-0">В ВДЦ «Океан» завершилась смена «Юные экологи»</h5>
                  </div></a>
            </div>
          </div>
          <div class="row mt-30 mb-10">
            <div class="col-12">
              <div class="d-flex justify-content-center"><a class="btn btn-outline-primary btn-md" href="#">Загрузить еще</a></div>
            </div>
          </div>
        </div>
      </div>
        <div class="footer">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="footer__links"><a class="footer__links-item" href="#">Об РДШ</a><a class="footer__links-item" href="#">Школы</a><a class="footer__links-item" href="#">Медиа</a><a class="footer__links-item" href="#">Вход<span class="footer__links-item-red">/</span>Регистрация</a></div>
                <div class="footer__content">
                  <div class="footer__left">
                    <p class="p--white my-20">Мы в соцсетях</p>
                      <div class="socials"><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--tw" href="#"></a><a class="socials__item socials__item--ig" href="#"></a><a class="socials__item socials__item--ok" href="#"></a></div>
                    <div class="footer__info"><a class="footer__info-item" href="#">Правовая информация</a><a class="footer__info-item" href="#">Карта сайта</a></div>
                  </div>
                  <div class="footer__center">
                    <p class="p--white my-20">Подпишитесь на новостную рассылку</p>
                      <form class="subscribe" action="#" method="POST">
                        <div class="form-group mb-0">
                          <input class="subscribe__input form-control" type="email" placeholder="Введите ваш email">
                        </div>
                        <button class="btn btn-primary btn-primary--white subscribe__btn" type="submit">OK</button>
                      </form>
                  </div>
                  <div class="footer__right">
                    <p class="p--white my-20">Приложение для телефона</p>
                    <div class="footer__markets"><a class="footer__markets-item footer__markets-item--apple" href="#"></a><a class="footer__markets-item footer__markets-item--google" href="#"></a></div>
                    <p class="footer__copyright">© 2017 Российское движение школьников (РДШ)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <script src="js/scripts.js?version=2"></script>
  </body>
</html>
