build/parents.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=2">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="wrapper">
        <div class="header header--parents">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="header__content">
                  <div class="header__left"><a class="logo" href="index.html"><span class="logo__red">Российское</span><span class="logo__blue">Движение школьников</span></a>
                    <div class="header__section header__section--dark"><a class="header__section-current" href="#">Родителям</a>
                      <div class="header__section-content"><a class="header__section-item" href="kids.html">Детям</a><a class="header__section-item" href="parents.html">Родителям</a><a class="header__section-item" href="teachers.html">Учителям</a></div>
                    </div>
                  </div>
                  <div class="header__right">
                      <div class="menu header__menu"><a class="menu__btn" href="#"></a>
                        <div class="menu__content"><a class="menu__link" href="#">Направления</a><a class="menu__link" href="#">Проекты</a><a class="menu__link" href="#">Новости</a><a class="menu__link" href="#">Медиа</a>
                        </div>
                      </div><a class="header__search" href="#"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="pt-60 mt-80 pb-70 border-bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="mb-60">Возможность для родителей влиться <br>в образовательный процесс ребёнка</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
                <div class="advantage advantage--parents">
                  <div class="advantage__top">
                    <div class="advantage__icon" style="background-image: url(./img/advantage-parents-1.svg);"></div>
                    <h4 class="advantage__header">Участвуйте <br>в жизни ребенка</h4>
                  </div>
                  <p class="mb-0 advantage__dscr">Помогите вашему ребёнку стать лучшим, участвуя вместе с ним в конкурсах и акциях</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="advantage advantage--parents">
                  <div class="advantage__top">
                    <div class="advantage__icon" style="background-image: url(./img/advantage-parents-2.svg);"></div>
                    <h4 class="advantage__header">Взаимодействуйте <br>с учителями</h4>
                  </div>
                  <p class="mb-0 advantage__dscr">Поддерживайте связь с педагогами по всей стране</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="advantage advantage--parents">
                  <div class="advantage__top">
                    <div class="advantage__icon" style="background-image: url(./img/advantage-parents-3.svg);"></div>
                    <h4 class="advantage__header">Отслеживайте <br>достижения детей</h4>
                  </div>
                  <p class="mb-0 advantage__dscr">Следите за успехами вашего ребёнка во всероссийских конкурсах и состязаниях</p>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12"><a class="btn btn-primary btn-primary--parents mt-40 mt-lg-70" href="#">Стать участником</a></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-center justify-content-between my-40">
              <h4 class="mb-0">Направления</h4><a class="btn btn-outline-primary btn-outline-primary--parents btn-sm" href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 d-flex">
              <div class="line">
                <div class="line__icon" style="background-image: url(./img/line-1.png);"></div>
                <div class="line__content">
                  <div class="line__number">1</div>
                  <div class="line__content-wrapper">
                    <h4 class="line__header">Личностное развитие</h4>
                    <p class="line__dscr mb-0">Творческое развитие, популяризация здорового образа жизни и спорта, выбор будущей профессии</p>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-6 d-flex">
              <div class="line">
                <div class="line__icon" style="background-image: url(./img/line-2.png);"></div>
                <div class="line__content">
                  <div class="line__number">2</div>
                  <div class="line__content-wrapper">
                    <h4 class="line__header">Военно-патриотическое направление</h4>
                    <p class="line__dscr mb-0">ВПЦ «Вымпел», «юнармейцы», юные спасатели, юные казаки, юные пограничники, юные друзья полиции и юные инспектора движения</p>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-6 d-flex">
              <div class="line">
                <div class="line__icon" style="background-image: url(./img/line-3.png);"></div>
                <div class="line__content">
                  <div class="line__number">3</div>
                  <div class="line__content-wrapper">
                    <h4 class="line__header">Гражданская активность</h4>
                    <p class="line__dscr mb-0">Добровольчество, поисковая деятельность, изучение истории России, краеведение, создание и развитие школьных музеев</p>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-6 d-flex">
              <div class="line">
                <div class="line__icon" style="background-image: url(./img/line-4.png);"></div>
                <div class="line__content">
                  <div class="line__number">4</div>
                  <div class="line__content-wrapper">
                    <h4 class="line__header">Информационно-медийное направление</h4>
                    <p class="line__dscr mb-0">Большая детская редакция, «Медиашкола», создание школьных газет, радио и телевидения, работа в социальных сетях, подготовка информационного контента</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-center justify-content-between mt-20 mb-40">
              <h4 class="mb-0">Проекты</h4><a class="btn btn-outline-primary btn-outline-primary--parents btn-sm" href="#">Все проекты</a>
            </div>
          </div>
        </div>
        <div class="row slider slider--two">
          <div class="col-6 d-flex">
              <div class="event">
                <div class="event__picture" style="background-image: url(./img/event-1.jpg);">
                </div>
                <div class="event__content">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="event__content-left">
                        <h5 class="event__header"><a class="event__header-link" href="#">Школа гражданской активности</a></h5>
                        <div class="event__divider"></div>
                        <p class="p--sm mb-0">24 — 27 ноября 2017</p>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <p class="event__dscr">Проект направлен на популяризацию и развитие добровольческой, экологической, поисковой, историко-краеведческой деятельности среди школьников и педагогов.</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-6 d-flex">
              <div class="event">
                <div class="event__picture" style="background-image: url(./img/event-2.jpg);">
                </div>
                <div class="event__content">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="event__content-left">
                        <h5 class="event__header"><a class="event__header-link" href="#">Всероссийский конкурс проектов по вовлечению школьников в ЗОЖ</a></h5>
                        <div class="event__divider"></div>
                        <p class="p--sm mb-0">24 — 27 ноября 2017</p>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <p class="event__dscr">Российское движение школьников запускает Всероссийский экологический конкурс «На старт, эко-отряд!».</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-center justify-content-between my-40">
              <h4 class="mb-0">Новости</h4><a class="btn btn-outline-primary btn-outline-primary--parents btn-sm" href="#">Все новости</a>
            </div>
          </div>
        </div>
        <div class="row slider slider--four">
          <div class="col-3"><a class="news illustration" href="#">
                <div class="news__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/news-1.jpg);"></div>
                </div>
                <div class="news__content">
                  <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                  <h5 class="h5--white mb-0">Будущие специалисты аэрокосмической отрасли собрались на открытии форума «КосмоСтарт» в Санкт-Петербурге</h5>
                </div></a>
          </div>
          <div class="col-3"><a class="news illustration" href="#">
                <div class="news__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/news-2.jpg);"></div>
                </div>
                <div class="news__content">
                  <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                  <h5 class="h5--white mb-0">Всероссийский родительский форум РДШ подошёл к концу!</h5>
                </div></a>
          </div>
          <div class="col-3"><a class="news illustration" href="#">
                <div class="news__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/news-3.jpg);"></div>
                </div>
                <div class="news__content">
                  <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                  <h5 class="h5--white mb-0">Роль РДШ в экологическом воспитании обсудили на конференции в Казани</h5>
                </div></a>
          </div>
          <div class="col-3"><a class="news illustration" href="#">
                <div class="news__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/news-4.jpg);"></div>
                </div>
                <div class="news__content">
                  <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                  <h5 class="h5--white mb-0">В Санкт-Петербурге состоялось открытие регионального форума активистов РДШ</h5>
                </div></a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-center justify-content-between my-40">
              <h4 class="mb-0">Медиа</h4><a class="btn btn-outline-primary btn-outline-primary--parents btn-sm" href="#">Все медиа</a>
            </div>
          </div>
        </div>
        <div class="row slider slider--four">
          <div class="col-3"><a class="media illustration" href="#">
                <div class="media__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/media-1.jpg);"></div>
                </div>
                <div class="media__content">
                  <p class="p--sm mb-15">29 ноября 2017, 14:09</p>
                  <h5 class="mb-0">Военно-патриотическая смена РДШ Дальневосточный рубеж</h5>
                </div></a>
          </div>
          <div class="col-3"><a class="media illustration" href="#">
                <div class="media__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/media-2.jpg);"></div>
                </div>
                <div class="media__content">
                  <p class="p--sm mb-15">29 ноября 2017, 14:09</p>
                  <h5 class="mb-0">Лига Ораторов. Двадцать первая серия</h5>
                </div></a>
          </div>
          <div class="col-3"><a class="media illustration" href="#">
                <div class="media__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/media-3.jpg);"></div>
                </div>
                <div class="media__content">
                  <p class="p--sm mb-15">29 ноября 2017, 14:09</p>
                  <h5 class="mb-0">Военно-патриотический слёт РДШ</h5>
                </div></a>
          </div>
          <div class="col-3"><a class="media illustration" href="#">
                <div class="media__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/media-4.jpg);"></div>
                </div>
                <div class="media__content">
                  <p class="p--sm mb-15">29 ноября 2017, 14:09</p>
                  <h5 class="mb-0">Финал Всероссийской туристско краеведческой экспедиции «Я познаю Россию»</h5>
                </div></a>
          </div>
        </div>
      </div>
    </div>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__links"><a class="footer__links-item" href="#">Об РДШ</a><a class="footer__links-item" href="#">Школы</a><a class="footer__links-item" href="#">Медиа</a><a class="footer__links-item" href="#">Вход<span class="footer__links-item-red">/</span>Регистрация</a></div>
              <div class="footer__content">
                <div class="footer__left">
                  <p class="p--white my-20">Мы в соцсетях</p>
                    <div class="socials"><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--tw" href="#"></a><a class="socials__item socials__item--ig" href="#"></a><a class="socials__item socials__item--ok" href="#"></a></div>
                  <div class="footer__info"><a class="footer__info-item" href="#">Правовая информация</a><a class="footer__info-item" href="#">Карта сайта</a></div>
                </div>
                <div class="footer__center">
                  <p class="p--white my-20">Подпишитесь на новостную рассылку</p>
                    <form class="subscribe" action="#" method="POST">
                      <div class="form-group mb-0">
                        <input class="subscribe__input form-control" type="email" placeholder="Введите ваш email">
                      </div>
                      <button class="btn btn-primary btn-primary--white subscribe__btn" type="submit">OK</button>
                    </form>
                </div>
                <div class="footer__right">
                  <p class="p--white my-20">Приложение для телефона</p>
                  <div class="footer__markets"><a class="footer__markets-item footer__markets-item--apple" href="#"></a><a class="footer__markets-item footer__markets-item--google" href="#"></a></div>
                  <p class="footer__copyright">© 2017 Российское движение школьников (РДШ)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script src="js/scripts.js?version=2"></script>
  </body>
</html>

src/pages/parents.pug
extends ../templates/template.pug
block content
  .wrapper
    +header('Родителям', 'header--parents')(class="header--parents")
    .pt-60.mt-80.pb-70.border-bottom
      .container
        .row
          .col-12
            h2.mb-60 Возможность для родителей влиться <br>в образовательный процесс ребёнка
        .row
          .col-sm-4
            +advantage('advantage-parents-1.svg', 'Участвуйте <br>в жизни ребенка', 'Помогите вашему ребёнку стать лучшим, участвуя вместе с ним в конкурсах и акциях')(class="advantage--parents")
          .col-sm-4
            +advantage('advantage-parents-2.svg', 'Взаимодействуйте <br>с учителями', 'Поддерживайте связь с педагогами по всей стране')(class="advantage--parents")
          .col-sm-4
            +advantage('advantage-parents-3.svg', 'Отслеживайте <br>достижения детей', 'Следите за успехами вашего ребёнка во всероссийских конкурсах и состязаниях')(class="advantage--parents")
        .row
          .col-12
            a.btn.btn-primary.btn-primary--parents.mt-40.mt-lg-70(href="#") Стать участником
    .container
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.my-40
            h4.mb-0 Направления
            a.btn.btn-outline-primary.btn-outline-primary--parents.btn-sm(href="#") Подробнее
      .row
        .col-md-6.d-flex
          +line('line-1.png', '1', 'Личностное развитие', 'Творческое развитие, популяризация здорового образа жизни и спорта, выбор будущей профессии')
        .col-md-6.d-flex
          +line('line-2.png', '2', 'Военно-патриотическое направление', 'ВПЦ «Вымпел», «юнармейцы», юные спасатели, юные казаки, юные пограничники, юные друзья полиции и юные инспектора движения')
        .col-md-6.d-flex
          +line('line-3.png', '3', 'Гражданская активность', 'Добровольчество, поисковая деятельность, изучение истории России, краеведение, создание и развитие школьных музеев')
        .col-md-6.d-flex
          +line('line-4.png', '4', 'Информационно-медийное направление', 'Большая детская редакция, «Медиашкола», создание школьных газет, радио и телевидения, работа в социальных сетях, подготовка информационного контента')
    .container
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.mt-20.mb-40
            h4.mb-0 Проекты
            a.btn.btn-outline-primary.btn-outline-primary--parents.btn-sm(href="#") Все проекты
      .row.slider.slider--two
        .col-6.d-flex
          +event('event-1.jpg', 'Школа гражданской активности', '24 — 27 ноября 2017', 'Проект направлен на популяризацию и развитие добровольческой, экологической, поисковой, историко-краеведческой деятельности среди школьников и педагогов.')
        .col-6.d-flex
          +event('event-2.jpg', 'Всероссийский конкурс проектов по вовлечению школьников в ЗОЖ', '24 — 27 ноября 2017', 'Российское движение школьников запускает Всероссийский экологический конкурс «На старт, эко-отряд!».')
    .container
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.my-40
            h4.mb-0 Новости
            a.btn.btn-outline-primary.btn-outline-primary--parents.btn-sm(href="#") Все новости
      .row.slider.slider--four
        .col-3
          +news('news-1.jpg', 'Будущие специалисты аэрокосмической отрасли собрались на открытии форума «КосмоСтарт» в Санкт-Петербурге')
        .col-3
          +news('news-2.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
        .col-3
          +news('news-3.jpg', 'Роль РДШ в экологическом воспитании обсудили на конференции в Казани')
        .col-3
          +news('news-4.jpg', 'В Санкт-Петербурге состоялось открытие регионального форума активистов РДШ')
    .container
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.my-40
            h4.mb-0 Медиа
            a.btn.btn-outline-primary.btn-outline-primary--parents.btn-sm(href="#") Все медиа
      .row.slider.slider--four
        .col-3
          +media('media-1.jpg', 'Военно-патриотическая смена РДШ Дальневосточный рубеж')
        .col-3
          +media('media-2.jpg', 'Лига Ораторов. Двадцать первая серия')
        .col-3
          +media('media-3.jpg', 'Военно-патриотический слёт РДШ')
        .col-3
          +media('media-4.jpg', 'Финал Всероссийской туристско краеведческой экспедиции «Я познаю Россию»')
  +footer
