src/pages/teachers.pug
extends ../templates/template.pug
block content
  .wrapper
    +header('Учителям', 'header--teachers')(class="header--teachers")
    .pt-60.mt-80.pb-70.border-bottom
      .container
        .row
          .col-12
            h2.mb-60 Станьте ближе к своим ученикам
        .row
          .col-sm-4
            +advantage('advantage-teachers-1.svg', 'Присоединяйтесь <br>к педагогическому <br>сообществу', 'Получите возможность общаться с коллегами по всей стране')(class="advantage--teachers")
          .col-sm-4
            +advantage('advantage-teachers-2.svg', 'Получите доступ <br>к методическим <br>материалам', 'Используйте лучшие практики работы с детьми, разработанные педагогами со всей России')(class="advantage--teachers")
          .col-sm-4
            +advantage('advantage-teachers-3.svg', 'Помогите своим <br>ученикам <br>в достижении целей', 'Поспособствуйте успехам ваших учеников, участвуя вместе с ними во всероссийских конкурсах')(class="advantage--teachers")
        .row
          .col-12
            a.btn.btn-primary.btn-primary--teachers.mt-40.mt-lg-70(href="#") Присоединиться
    .container
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.my-40
            h4.mb-0 Учительская
            a.btn.btn-outline-primary.btn-outline-primary--teachers.btn-sm(href="#") Подробнее
          +feature
    .container
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.my-40
            h4.mb-0 Новости
            a.btn.btn-outline-primary.btn-outline-primary--teachers.btn-sm(href="#") Все новости
      .row.slider.slider--four
        .col-3
          +news('news-5.jpg', 'Российские школьники открыли «Балтийский Артек»')
        .col-3
          +news('news-6.jpg', 'Всероссийский родительский форум РДШ подошёл к концу!')
        .col-3
          +news('news-7.jpg', 'Молодые учителя обсудили опыт развития РДШ в регионах на «Балтийском Артеке»')
        .col-3
          +news('news-8.jpg', 'В ВДЦ «Океан» завершилась смена «Юные экологи»')
    .container
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.my-40
            h4.mb-0 Документы
            a.btn.btn-outline-primary.btn-outline-primary--teachers.btn-sm(href="#") Все документы
          +documents
    .container
      .row
        .col-12
          .d-flex.align-items-center.justify-content-between.my-40
            h4.mb-0 Медиа
            a.btn.btn-outline-primary.btn-outline-primary--teachers.btn-sm(href="#") Все медиа
      .row.slider.slider--four
        .col-3
          +media('media-1.jpg', 'Военно-патриотическая смена РДШ Дальневосточный рубеж')
        .col-3
          +media('media-2.jpg', 'Лига Ораторов. Двадцать первая серия')
        .col-3
          +media('media-3.jpg', 'Военно-патриотический слёт РДШ')
        .col-3
          +media('media-4.jpg', 'Финал Всероссийской туристско краеведческой экспедиции «Я познаю Россию»')
  +footer

build/teachers.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=2">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="wrapper">
        <div class="header header--teachers">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="header__content">
                  <div class="header__left"><a class="logo" href="index.html"><span class="logo__red">Российское</span><span class="logo__blue">Движение школьников</span></a>
                    <div class="header__section header__section--dark"><a class="header__section-current" href="#">Учителям</a>
                      <div class="header__section-content"><a class="header__section-item" href="kids.html">Детям</a><a class="header__section-item" href="parents.html">Родителям</a><a class="header__section-item" href="teachers.html">Учителям</a></div>
                    </div>
                  </div>
                  <div class="header__right">
                      <div class="menu header__menu"><a class="menu__btn" href="#"></a>
                        <div class="menu__content"><a class="menu__link" href="#">Учительская</a><a class="menu__link" href="#">Новости</a><a class="menu__link" href="#">Мероприятия</a><a class="menu__link" href="#">Документы</a><a class="menu__link" href="#">Медиа</a>
                        </div>
                      </div><a class="header__search" href="#"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="pt-60 mt-80 pb-70 border-bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="mb-60">Станьте ближе к своим ученикам</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
                <div class="advantage advantage--teachers">
                  <div class="advantage__top">
                    <div class="advantage__icon" style="background-image: url(./img/advantage-teachers-1.svg);"></div>
                    <h4 class="advantage__header">Присоединяйтесь <br>к педагогическому <br>сообществу</h4>
                  </div>
                  <p class="mb-0 advantage__dscr">Получите возможность общаться с коллегами по всей стране</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="advantage advantage--teachers">
                  <div class="advantage__top">
                    <div class="advantage__icon" style="background-image: url(./img/advantage-teachers-2.svg);"></div>
                    <h4 class="advantage__header">Получите доступ <br>к методическим <br>материалам</h4>
                  </div>
                  <p class="mb-0 advantage__dscr">Используйте лучшие практики работы с детьми, разработанные педагогами со всей России</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="advantage advantage--teachers">
                  <div class="advantage__top">
                    <div class="advantage__icon" style="background-image: url(./img/advantage-teachers-3.svg);"></div>
                    <h4 class="advantage__header">Помогите своим <br>ученикам <br>в достижении целей</h4>
                  </div>
                  <p class="mb-0 advantage__dscr">Поспособствуйте успехам ваших учеников, участвуя вместе с ними во всероссийских конкурсах</p>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12"><a class="btn btn-primary btn-primary--teachers mt-40 mt-lg-70" href="#">Присоединиться</a></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-center justify-content-between my-40">
              <h4 class="mb-0">Учительская</h4><a class="btn btn-outline-primary btn-outline-primary--teachers btn-sm" href="#">Подробнее</a>
            </div>
              <div class="feature">
                <div class="feature__item">
                  <div class="feature__content">
                    <h5 class="feature__header">Цель</h5>
                    <p class="feature__dscr">Организационно-педагогическое и научно-методическое сопровождение педагогических работников, реализующих идеи Общероссийской общественно-государственной детско-юношеской организации «Российское движение школьников» в образовательных организациях Российской Федерации.</p>
                  </div>
                  <div class="feature__picture" style="background-image: url(./img/feature.jpg);"></div>
                </div>
                <div class="feature__item">
                  <div class="feature__content">
                    <h5 class="feature__header">Цель</h5>
                    <p class="feature__dscr">Организационно-педагогическое и научно-методическое сопровождение педагогических работников, реализующих идеи Общероссийской общественно-государственной детско-юношеской организации «Российское движение школьников» в образовательных организациях Российской Федерации.</p>
                  </div>
                  <div class="feature__picture" style="background-image: url(./img/feature.jpg);"></div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-center justify-content-between my-40">
              <h4 class="mb-0">Новости</h4><a class="btn btn-outline-primary btn-outline-primary--teachers btn-sm" href="#">Все новости</a>
            </div>
          </div>
        </div>
        <div class="row slider slider--four">
          <div class="col-3"><a class="news illustration" href="#">
                <div class="news__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/news-5.jpg);"></div>
                </div>
                <div class="news__content">
                  <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                  <h5 class="h5--white mb-0">Российские школьники открыли «Балтийский Артек»</h5>
                </div></a>
          </div>
          <div class="col-3"><a class="news illustration" href="#">
                <div class="news__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/news-6.jpg);"></div>
                </div>
                <div class="news__content">
                  <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                  <h5 class="h5--white mb-0">Всероссийский родительский форум РДШ подошёл к концу!</h5>
                </div></a>
          </div>
          <div class="col-3"><a class="news illustration" href="#">
                <div class="news__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/news-7.jpg);"></div>
                </div>
                <div class="news__content">
                  <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                  <h5 class="h5--white mb-0">Молодые учителя обсудили опыт развития РДШ в регионах на «Балтийском Артеке»</h5>
                </div></a>
          </div>
          <div class="col-3"><a class="news illustration" href="#">
                <div class="news__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/news-8.jpg);"></div>
                </div>
                <div class="news__content">
                  <p class="p--sm p--white">29 ноября 2017, 14:09</p>
                  <h5 class="h5--white mb-0">В ВДЦ «Океан» завершилась смена «Юные экологи»</h5>
                </div></a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-center justify-content-between my-40">
              <h4 class="mb-0">Документы</h4><a class="btn btn-outline-primary btn-outline-primary--teachers btn-sm" href="#">Все документы</a>
            </div>
              <div class="documents">
                <h5>Недавно добавленные документы</h5>
                <div class="documents__item"><a class="documents__item-header" href="#">Описание Типовой модели системы общественно-государственного управления образованием с участием родительской общественности</a>
                  <p class="p--sm documents__item-date">Принят 26.10.2017</p>
                  <p class="p--sm documents__item-type">Тип: PDF-файл</p>
                </div>
                <div class="documents__item"><a class="documents__item-header" href="#">Финалисты Всероссийского конкурса «Лучший вожатый»</a>
                  <p class="p--sm documents__item-date">Принят 14.10.2017</p>
                  <p class="p--sm documents__item-type">Тип: PDF-файл</p>
                </div>
                <div class="documents__item"><a class="documents__item-header" href="#">Сборник материалов тематической смены «Слёт юных экологов Российского движения школьников»</a>
                  <p class="p--sm documents__item-date">Принят 10.07.2017</p>
                  <p class="p--sm documents__item-type">Тип: PDF-файл</p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-center justify-content-between my-40">
              <h4 class="mb-0">Медиа</h4><a class="btn btn-outline-primary btn-outline-primary--teachers btn-sm" href="#">Все медиа</a>
            </div>
          </div>
        </div>
        <div class="row slider slider--four">
          <div class="col-3"><a class="media illustration" href="#">
                <div class="media__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/media-1.jpg);"></div>
                </div>
                <div class="media__content">
                  <p class="p--sm mb-15">29 ноября 2017, 14:09</p>
                  <h5 class="mb-0">Военно-патриотическая смена РДШ Дальневосточный рубеж</h5>
                </div></a>
          </div>
          <div class="col-3"><a class="media illustration" href="#">
                <div class="media__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/media-2.jpg);"></div>
                </div>
                <div class="media__content">
                  <p class="p--sm mb-15">29 ноября 2017, 14:09</p>
                  <h5 class="mb-0">Лига Ораторов. Двадцать первая серия</h5>
                </div></a>
          </div>
          <div class="col-3"><a class="media illustration" href="#">
                <div class="media__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/media-3.jpg);"></div>
                </div>
                <div class="media__content">
                  <p class="p--sm mb-15">29 ноября 2017, 14:09</p>
                  <h5 class="mb-0">Военно-патриотический слёт РДШ</h5>
                </div></a>
          </div>
          <div class="col-3"><a class="media illustration" href="#">
                <div class="media__picture illustration__content">
                  <div class="illustration__picture" style="background-image: url(./img/media-4.jpg);"></div>
                </div>
                <div class="media__content">
                  <p class="p--sm mb-15">29 ноября 2017, 14:09</p>
                  <h5 class="mb-0">Финал Всероссийской туристско краеведческой экспедиции «Я познаю Россию»</h5>
                </div></a>
          </div>
        </div>
      </div>
    </div>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__links"><a class="footer__links-item" href="#">Об РДШ</a><a class="footer__links-item" href="#">Школы</a><a class="footer__links-item" href="#">Медиа</a><a class="footer__links-item" href="#">Вход<span class="footer__links-item-red">/</span>Регистрация</a></div>
              <div class="footer__content">
                <div class="footer__left">
                  <p class="p--white my-20">Мы в соцсетях</p>
                    <div class="socials"><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--tw" href="#"></a><a class="socials__item socials__item--ig" href="#"></a><a class="socials__item socials__item--ok" href="#"></a></div>
                  <div class="footer__info"><a class="footer__info-item" href="#">Правовая информация</a><a class="footer__info-item" href="#">Карта сайта</a></div>
                </div>
                <div class="footer__center">
                  <p class="p--white my-20">Подпишитесь на новостную рассылку</p>
                    <form class="subscribe" action="#" method="POST">
                      <div class="form-group mb-0">
                        <input class="subscribe__input form-control" type="email" placeholder="Введите ваш email">
                      </div>
                      <button class="btn btn-primary btn-primary--white subscribe__btn" type="submit">OK</button>
                    </form>
                </div>
                <div class="footer__right">
                  <p class="p--white my-20">Приложение для телефона</p>
                  <div class="footer__markets"><a class="footer__markets-item footer__markets-item--apple" href="#"></a><a class="footer__markets-item footer__markets-item--google" href="#"></a></div>
                  <p class="footer__copyright">© 2017 Российское движение школьников (РДШ)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script src="js/scripts.js?version=2"></script>
  </body>
</html>
